body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}


h1 {
  font-weight: bold;
  font-size: 1.2em;
}

h2 {
  font-style: italic;
  font-size: 0.85em;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
